@color3: #ffffff; //page color
body {
    font-family: 'Lato', sans-serif;
    background-image: url(white-horse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

.button {
    background-color: #1491BA;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
    tr {
        &:hover {
            background: #f4f4f4;
            td {
                color: #555;
            }
        }
    }
    th,
    td {
        color: black;
        border: 1px solid #eee;
        padding: 12px 35px;
        border-collapse: collapse;
    }
    th {
        background: #00cccc;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        &.last {
            border-right: none;
        }
    }
}

#chat {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    height: 400px;
    width: 400px;
}

#contentWrap {
    display: none;
}

#chatWrap {
    float: left;
    border: 1px #000 solid;
}

.error {
    color: red;
}

.whisper {
    color: darkmagenta;
    font-style: italic;
}