body {
    background-image: url(horses-grass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 20px;
    color: white;
}

h1 {
    color: white;
}

.button {
    background-color: #1491BA;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}